/* Resets the box size of every element */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Gives the body element a parent height to compare against */
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
  }
  
  /* Matches the font of special elements to the rest of the page */
  input, select, option, optgroup, textarea, button,
  pre, code {
    font-size: 100%;
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline:none;
    border-radius: 0px;
    text-align:center;
    text-align-last: center;
  }
  
  /* Removes default bullet points from lists */
  ol, ul {
      list-style: none;
    }
    
    /* ---------------------------------------------------------------------------------------- */
    header{
        height: 60px;
        background-color: #40955a;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    } 
    header h1{
        font-size: 200%;
        text-align: center;
        padding: 0;
        margin: 30px;
    }
    
    #resetBtn{
        position: absolute;
        right: 20px;
    }

    .scorecard{
     display:flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     box-shadow: 10px 10px 10px grey;
     border: black solid 1px;
    }

    
    .player1{
        background-color: #73afe4
    }
    .player2{
        background-color: #9bbde8
    }

    .player3{
        background-color:#febac5
    }
    .player4{
        background-color:#fc6880
    }
    .total{
        width: 9vw;
        height: 40px;
        border: solid 1px white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
    }

    .name{
        width: 10vw;
        height: 40px;
        border: solid 1px white;
        text-align: center;
        border-radius: 0px;
    }

    .cell{
        width: 9vw;
        height: 40px;
        padding: 5px;
        padding-left: 15px;
        border: solid 1px white;
        border-radius: 0px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
    }

    .column{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .label{
        width: 10vw;
        height: 40px;
        border: solid 1px white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
    }
    select{
        padding-left: 10px;
    }
    select:focus{
        width: 9vw;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
        outline: none;
        border: solid greenyellow 2px;
    }
  
    input:focus{
        outline:none;
    }

    .teamscore{
        height: 120px;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 auto;
    }

    #blue{
        color:#73afe4;
        margin: 30px;
        font-weight: bold;
        font-size: 36px;
    }
    .blue{
        color:#73afe4; 
        padding: 14px;
        border: solid #73afe4 2px;
    }
    #red{
        color:#fc6880;
        margin: 30px;
        font-weight: bold;
        font-size: 36px;
    }
    .red{
        color: #fc6880;
        padding: 14px;
        border: solid #fc6880 2px;
    }

    #difference{
        margin: 30px;
        font-size: 60px;
        font-weight: bold;
    }

    .toprow{
        background-color: white;
        border-right: black 1px solid;
    
       
    }

    .p1row{
        border-top: black 1px solid;
    }

 

    footer{
        position: absolute;
        bottom: 0px;
        height:60px;
        width: 100%;
        background-color: #40955a;
        text-align: center;
        color:white;
        padding: 20px;
    }